[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabulate = "*"
sqlalchemy = "*"
tdqm = "*"
colorama = "*"
inquirer = "*"
inquirerpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
